[Unit]
Description=environment logger for debug
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/root/utils/batlog.sh

