[Unit]
Description=macchanger ethernet service
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
WorkingDirectory=/tmp
ExecStart=/bin/macchanger -r wlan0
RemainAfterExit=true
