[Unit]
Description=vault
After=multi-user.target vault-pin.service
Before=ui.service

[Service]
WorkingDirectory=/tmp
Type=oneshot
ExecStartPre=mkdir /tmp/vault
ExecStart=mount /dev/mapper/volume1 /tmp/vault

[Install]
WantedBy=multi-user.target
